HOST=0.0.0.0
PORT=1337
APP_KEYS="oEPeGmOJYlf0ZvQYyYMfxE6s9TjXUrUctBvxZjVsdqg=,Jy/1qGH+XjhjbBz6ULVt0TB/563Dzz1+wf78+1O/Mlo="
API_TOKEN_SALT=PHKXYIpcX5dEf2q2A/rzsTMClkqbBGsq0/vvLlvNDqo=
ADMIN_JWT_SECRET=jfwLm8bcl9XwplPjIZM4foLczUgPYyfaRunlSnURJCo=
TRANSFER_TOKEN_SALT=kGwvNQ+J1X8MhgBsypa9YksZg4gIYXOqmdqYm3QGEGY=
JWT_SECRET=sDtI+9BLnsVNqfXQR1SBTBEFOTLUU3NOv4TOPnxoHe8=
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_ACCESS_SECRET=your_aws_secret_access_key
AWS_REGION=ap-south-1
AWS_BUCKET=onlinejain.com-v2
